   * {
       margin: 0;
   }


   @font-face {
       font-family: 'MonumentExtended';
       src: url('./fonts/MonumentExtended-Regular.woff2') format('woff2'),
           url('./fonts/MonumentExtended-Regular.woff') format('woff'),
           url('./fonts/MonumentExtended-Regular.ttf') format('truetype');
   }




   .hero {
       width: 100;
       background-image: linear-gradient(180deg, #ffe8ff, #e1ffea22 60%);
       display: flex;

   }

   .hero-left {
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: center;
       line-height: 1.1;
       gap: 20px;
       padding-left: 180px;
       line-height: 100px;

   }

   .gradient-text {
       font-size: 64px;
       font-weight: bold;
       padding-bottom: 12px;
       background: linear-gradient(120deg, #ffb300cf, #ae75e7, #5418a9, #1a1b1c);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       font-size: 100px;


   }



   .newStyle {
       position: relative;
       display: inline-block;
       font-size: 141px;
       font-weight: 900;
       letter-spacing: 9px;

       background: linear-gradient(260deg, #db9b06, #a044ff, #46296d, #0099ff);
       background-size: 300%;
       background-position: left;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       font-family: "Poppins", sans-serif;


       animation: moveGradient 4s linear infinite;
   }


   .newStyle::before {
       content: "New";
       position: absolute;
       top: -4px;
       left: -7px;
       z-index: -1;
       -webkit-text-stroke-width: 2px;
       -webkit-text-stroke-color: #000;
       color: transparent;
   }


   @keyframes moveGradient {
       0% {
           background-position: 0% center;
       }

       100% {
           background-position: 100% center;
       }
   }

   .hero-left h2 {
       color: #090909;
       font-size: 26px;
       font-weight: 600;

   }

   .hero-left p {
       color: #171717;
       /* font-size: 100px; */
       font-weight: 700;
   }


   /* .hero-hand-icon {
        display: flex;
        align-items: center;
        gap: 20px;
    }


    .hero-hand-icon img {
        width: 105px;

    } */

   .hero-latest-btn {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 15px;
       width: 310px;
       height: 70px;
       border-radius: 75px;
       margin-top: 30px;
       background: #ff4141;
       color: white;
       font-size: 22px;
       font-weight: 500;

   }

   .hero-right {
       flex: 1;
       display: flex;
       align-items: center;
       justify-content: center;
   }