.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 200px;
  height: 250px;
  top: 10%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(550px);
}

.banner .slider .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.topic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.topic hr{
    width: 500px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    /* width: 100%; */
    height: 9px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left, white 0%, #ff00ff 50%, black 100%);
    background-size: 300% 100%;
    background-position: top;
    animation: flowBar 1.5s linear infinite;
    margin-top: 5px;
    margin-bottom: 30px;
}
